name: 'Build and publish docker container'

on:
  workflow_call:
    inputs:
      dockerfile_path:
        required: true
        type: string

env:
  AWS_REGION: us-west-2
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.STRONGMIND_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.STRONGMIND_AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}
          mask-aws-account-id: no

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Create private repo
        uses: int128/create-ecr-repository-action@v1
        with:
          repository: ${{ github.event.repository.name }}

      - uses: actions/checkout@v4
        name: Checkout code

      - name: Build Docker
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: ${{ github.event.repository.name }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG . -f ${{ inputs.dockerfile_path }}
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG