name: Notify release to slack

on:
  workflow_call:
    inputs:
      jira-ticket:
        required: false
        type: string
  workflow_dispatch:
    inputs:
      jira-ticket:
        required: false
        type: string

jobs:
  send-slack:
    name: Send slack message
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
        ref: ${{github.sha}}
    - name: Get Commit Message
      id: get-commit-message
      run: |
        delimiter="$(openssl rand -hex 8)"
        MSG=$(git log --format=%B -n 1 ${{ github.sha }})
        AUTHOR_NAME=$(git log --format=%an -n 1 ${{ github.sha }})
        MSG="${MSG//$'\n'/\\n}"
        echo "message<<${delimiter}" >> "${GITHUB_OUTPUT}"
        echo "${MSG}" >> "$GITHUB_OUTPUT"
        echo "${delimiter}" >> "${GITHUB_OUTPUT}"
        echo "author_name=${AUTHOR_NAME}" >> "${GITHUB_OUTPUT}"
    - name: Send message to slack
      id: slack
      uses: slackapi/slack-github-action@v1.23.0
      with:
        payload: |
          {
            "repository_url": "${{ github.server_url }}/${{ github.repository }}",
            "repository_name": "${{ github.event.repository.name }}",
            "repository_owner": "${{ github.event.repository.owner.login }}",
            "commit_sha": "${{ github.sha }}",
            "commit_url": "${{ github.server_url }}/${{ github.repository }}/commit/${{ github.sha }}",
            "commit_message": "${{ steps.get-commit-message.outputs.message }}",
            "jira_ticket": "${{ github.event.inputs.jira-ticket }}",
            "actor": "${{ github.actor }}",
            "actor_name": "${{ steps.get-commit-message.outputs.author_name }}",
            "actor_url": "${{ github.server_url }}/${{ github.actor }}",
            "actor_avatar": "${{ github.event.sender.avatar_url }}",
            "workflow_url": "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}",
            "workflow_name": "${{ github.workflow }}"
          }
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_RELEASE_NOTIFICATIONS_URL }}
