name: Dependabot Pull Request Approve and Merge

on:
  workflow_call:
    inputs:
      PR_URL:
        required: true
        type: string
      github_actor:
        required: true
        type: string

jobs:
  dependabot:
    runs-on: ubuntu-latest
    # Checking the actor will prevent your Action run failing on non-Dependabot
    # PRs but also ensures that it only does work for Dependabot PRs.
    if: ${{ inputs.github_actor == 'dependabot[bot]'}}
    steps:
      - name: Get Dependabot Metadata
        id: metadata
        uses: dependabot/fetch-metadata@v1.1.1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      # Here the PR gets approved.
      - name: Approve a PR
        run: gh pr review --approve "$PR_URL"
        env:
          PR_URL: ${{ inputs.PR_URL }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # Finally, this sets the PR to allow auto-merging for patch and minor
      # updates if all checks pass
      - name: Enable auto-merge for Dependabot PRs
        if: ${{ steps.metadata.outputs.update_type != 'version-update:semver-major' }}
        run: gh pr merge --merge --auto "$PR_URL"
        env:
          PR_URL: ${{ inputs.PR_URL }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}